@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-product-header-container .item-category-product span {
    @apply text-[#CAF2F1] transition-all duration-300;
  }

  .dropdown-product-header-container .item-category-product svg {
    @apply opacity-0 transition-all duration-300;
  }

  .dropdown-product-header-container .item-category-product:hover span {
    @apply text-white;
  }

  .dropdown-product-header-container .item-category-product:hover svg {
    @apply opacity-100;
  }

  .dropdown-product-header-container .item-Category-active span {
    @apply text-white mb-0 pb-0;
  }
  .dropdown-product-header-container .item-Category-active svg {
    @apply opacity-100;
  }

  .dropdown-product-header-container .item-sub-category-product svg {
    @apply invisible transition-all duration-300;
  }
  .dropdown-product-header-container .item-sub-category-product span {
    @apply text-[#454545] transition-all duration-300;
  }

  .dropdown-product-header-container .item-sub-category-product:hover svg {
    @apply visible;
  }
  .dropdown-product-header-container .item-sub-category-product:hover span {
    @apply text-[#F58F5D];
  }
}

.dropdown-product-header-container .item-category-product svg {
  fill: white !important;
  stroke: white !important;
}

.dropdown-product-header-container .item-category-product svg path {
  fill: white !important;
  stroke: white !important;
}

.icon-arrow-right-dropdown-header svg {
  fill: #f58f5d !important;
  stroke: #f58f5d !important;
}

.icon-arrow-right-dropdown-header svg path {
  fill: #f58f5d !important;
  stroke: #f58f5d !important;
}

.dropdown-product-header-container
  .item-category-product:hover
  .icon-arrow-right {
  opacity: 1;
  transition: all 0.4s ease;
}
